@import url(https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap);
*
{
    margin : 0px;
    padding: 0px;
    font-size: 20px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color :rgb(65, 103, 207)
}
h1
{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 40px;
    border-radius: 0.4em;
    background-color : rgb(244, 208, 93);
    color: black;
    font-weight: bold;
    -webkit-box-shadow: 4px 2px 5px 5px rgba(0,0,0,0.14); 
    box-shadow: 4px 2px 5px 5px rgba(0,0,0,0.69);

}
.container
{
    display : flex;
    flex-direction : row;
    justify-content: center;
    margin: 10px;
}
.board
{
    width : 400px;
    height : 400px;
    display : grid;
    box-shadow: 1em;
    -webkit-box-shadow: 4px 2px 5px 5px rgba(0,0,0,0.14); 
    box-shadow: 4px 2px 5px 5px rgba(0,0,0,0.69);
}
.main
{
    display : flex;
    flex-direction : column;
    justify-content : center;
}
.header
{
    display : flex;
    flex-direction : row;
    justify-content : center;
    margin : 20px;
    padding: 10px;
}
.buttons
{
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    margin : 10px;
}
button
{
    border-radius: 0.4em;
    background-color : rgb(244, 208, 93);
    color: black;
    font-weight: bold;
    transition: 0.2s;
    -webkit-box-shadow: 4px 2px 5px 5px rgba(0,0,0,0.14); 
    box-shadow: 4px 2px 5px 5px rgba(0,0,0,0.69);
}
.box
{
    margin : 2px;
}